@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>-Non-Users can only view the Top Players and the Favorites Lists most basic information. They can register and see user stories.</p>

<p>--Lowest Level Users, <strong>Members</strong>(no symbol) can view all of the above, log in, log out, and view the References List advanced information.</p>

<p>
    ---Mid-Level users, or <strong>Moderators</strong>(denoted by % in front of name), can view and do all of the above, as well as view VERY basic user information.
    They cannot, however, change any User information whatsoever. They can add to and update the list of Top Players, Favorite Players, or References, but cannot delete anything.
</p>

<p>
    ----Highest Level users, <strong>Admins</strong>(denoted by # in front of name), can do all of the above,
    and can also View advanced information on any List, Make changes to any list, Delete from any list, add to any list, as well as add pages to the site,
    write new articles.
</p>
