@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Contact me if there are any issue with the site. I strive to make sure it works so that no one ever has to lament a lack of information.</p>

<address>
    silverreflexes@gmail.com
</address>