@using CapstonePL.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChessReference.com</h1>
    <p class="lead">ChessReference.com is a free website that was made specifically for the use of chess players for the improvement of chess players.</p>
    <p><a href="http://localhost:50619/Home/About" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Stories</h2>
        <p>
            We have multiple users who have left reviews! See some of their reviews to see if this site is a place you'd like to explore some more.
        </p>
        <p><a class="btn btn-default" href="http://localhost:50619/Home/UserStories">User Stories &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Past Games</h2>
        <p>Here we have a list of some of the greatest games ever played by some of the greatest people to ever play it.</p>
        <p><a class="btn btn-default" href="http://localhost:50619/Game">Past Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Favorite Players</h2>
        <p>
            We here like to list our favorite players in the hopes to not only share a little about ourselves, but give our viewers more inspiration to succeed at the noble game we all
            know and love. We have many names, and we always have more coming!
        </p>
        <p><a class="btn btn-default" href="http://localhost:50619/FavoritePlayer">Favorites &raquo;</a></p>
    </div>
</div>