@{
    ViewBag.Title = "UserStories";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Stories</title>
</head>
<body>
    <div>
        <p>
            <strong>Tamara</strong> – “I’ve seen a lot of sites that have reference to books, and I’ve seen a lot of sites that are somewhat biased in what they say.
            And typically when those sites let you play chess, you can’t really find a good repository of references to help foster improvement.
            Granted, there is forums, but that only helps so much for beginners. But this site has so many references it makes my head spin.
            Dozens of books, videos, and websites all suited for different purposes. Some books and videos cater to specific topics like sacrifices or pawn structure,
            and others cover a wider subject matter than a single topic. The sites that are listed all have their pros and cons, and I personally really
            appreciate that they’re all listed here together. I’m glad I found this site.”
        </p>

        <p>
            <strong>Tristan</strong> - “Just look at all the cool stuff here! Books and links to the places to buy them, Videos and links to watch them, and Websites with the links to go there,
            as well as a listing for whether or not you can play there. I’ve found a few sites that weren’t really worth the time to try and join, and the ICC costs money to be a part of.
            I only really knew about Chess.com, and I personally don’t really like the setup for it. Lichess is a little sleeker, and they have tournaments going on at all times of the day!
            Perfect for improving your time management! With all the media on the site, as well as the links to videos on youtube, it’s easy to start picking up
            Chess as a serious hobby instead of struggling along, hoping to improve through experience. Just watch a few videos on
            Openings and Endings, and look at some Middlegame Guidelines, and you can start playing on one of the websites that’s listed there!”
        </p>

        <p>
            <strong>Sam</strong> – “So, I was a struggling 1100-ish player on Chess.com when I found this.
            Using this site, I am now, 6 months later, a much stronger 1450-ish player on Chess.com, and a 1570-ish player on Lichess.
            The best thing about this site, I think, is that it presents all the information to in an organized manner, and really allows you to find what you are looking
            for to help you improve. Using the Lichess Analysis board allows you to find your mistakes, and you can come here to try and fix them.
            If it says, “Not the best Checkmate sequence”, you can come here and look for checkmate references to work on that.
            If you notice that you have high centipawn loss when moving your pawns, you can come and look for help with Pawn Structure.
            There really is a lot of information at your fingertips, and I’m glad to have found this site.”
        </p>
    </div>
</body>
</html>
